body{
background-image:url("./img/fundo.jpg");

}

a
{
	text-decoration:none;
	color: #fff;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Slabo 27px', serif;
	
	
}


#fotos{
	font-size: 3vw;
	color: #fff;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Slabo 27px', serif;
	
	
}

#historia{
	font-size: 3vw;
	position:absolute;
	right:0px;
	margin-right: 2vw;
	float: right;
	font-family: 'Slabo 27px', serif;
}
 
#form{
	font-size: 20px;
	color:#fff;
	font-family: 'Slabo 27px', serif;
}


#Entrar{
	float: right;
	margin-right: 3vw;
	margin-top: 3vh;
	font-size: 3vw;
	font-family: 'Slabo 27px', serif;
	text-shadow: black 0.1em 0.1em 0.2em;
	}

#Cadastrar{
	color: #fff;
	font-size: 5vw;
	float: right;
	margin-right: 45%;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Slabo 27px', serif;
	
}

#Voltar{
	float: left;
	margin-left: 2vw;
	width: 2vw;
	height: 4vh;
	text-shadow: black 0.1em 0.1em 0.2em;
	}
	
#open{
	float: right;
	font-size: 6vw;
    margin-right: 42%;
	color:#fff;
	font-family: 'Slabo 27px', serif;
	text-shadow: black 0.1em 0.1em 0.2em;
	
	}
	
#tentar{
	float: right;
	margin-right: 40%;
	font-size: 3vw;
	} 

#mensagem{
	color: #fff;
	font-size: 5vw;
	float: right;
	margin-right: 22%;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Slabo 27px', serif;
	
	}


.welcome{
	font-size:6vw;
	text-align:center;
	margin-top: 30vh;
	color: rgba(0,0,0, 0.7);
	font-family: 'Slabo 27px', serif;
}

 
 .cadastro{
	margin-left:20%;
	
	
}

 .img{
	margin-top:3vh;
 }
 
 .sub{
	 text-decoration:none;
	 width: 10vw;
	 height: 3vh;
	 border-radius: 6px;
	 background: rgba(0,0,0,0);
	color: #fff; 
	font-size: 3vw;
 }
 
  .welcome:hover{
	  color:#000;
	  transition: 2s;
  }
 
 .entrar-cadastrar:hover{
	background-color: rgba(0,0,0, 0.2);
	border-radius: 6px;
	transition: 1s;
}

  .button:hover{
	  background-color: rgba(0,0,0, 0.4);
	border-radius: 6px;
	transition: 1s;
	font-size:#fff;
  }

   .sub:hover{
	 background-color: rgba(0,0,0, 0.4);
	border-radius: 6px;
	transition: 1s;
 }

  .img:hover{
	 transform: scale(2);
	 transition: 0.6s;
 }
.historia{
	font-size:2vw;
	margin-top: 8vh;
	color: rgba(0,0,0, 0.7);
	font-family: 'Slabo 27px', serif;
}

.historia:hover{
	  color:#000;
	  transition: 2s;
  }